* {
  font-family: "Inter", sans-serif;
}

.universal_button {
  position: relative;
}

.universal_button__button {
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  border: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #467ee5;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  transition: color 200ms, background-color 200ms;
}

.universal_button:hover {
  background-color: #f9fafb;
}

.universal_button__icon_container {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  position: relative;
  width: 24px;
}

.universal_button__badge {
  align-items: center;
  background-color: #fa2449;
  border-radius: 9999px;
  color: white;
  display: flex;
  font-size: 10px;
  height: 14px;
  justify-content: center;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
}

.universal_button__icon {
  height: 100%;
  width: 100%;
}

.universal_button__text {
  font-size: 16px;
  font-weight: 400;
}

.universal_button_popover {
  border-radius: 6px;
  margin-top: 8px;
}

.universal_button_popover__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px 16px;
  width: 384px;
}

.universal_button_popover__textarea {
  border-radius: 6px;
  border: solid #e2e8f0 1px;
  color: #467ee5;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-bottom: 6px;
  min-height: 66px;
  outline: none;
  padding: 8px;
  resize: none;
  transition: color 200ms, background-color 200ms;
}

.universal_button_popover__textarea:focus {
  border-color: #cbd5e1;
}

.universal_button_popover__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.universal_button_popover__content_left {
  align-items: center;
  display: flex;
  gap: 8px;
}

.universal_button_popover__user_text {
  color: #b58fd9;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.universal_button_popover__send {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  border: none;
  color: #b58fd9;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 6px;
  transition: color 200ms, background-color 200ms;
  width: 32px;
}

.universal_button_popover__send:hover {
  background-color: #f9fafb;
}

.universal_button_popover__send_icon {
  height: 100%;
  width: 100%;
}
