* {
  font-family: "Inter", sans-serif;
}

:root {
}

.universal_button {
  position: relative;
}

.universal_button__button {
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  border: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #467ee5;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  transition: color 200ms, background-color 200ms;
}

.universal_button__button:hover {
  background-color: #f9fafb;
}

.universal_button__icon_container {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  position: relative;
  width: 24px;
}

.universal_button__badge {
  align-items: center;
  background-color: #fa2449;
  border-radius: 9999px;
  color: white;
  display: flex;
  font-size: 10px;
  height: 14px;
  justify-content: center;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
}

.universal_button__icon {
  height: 100%;
  width: 100%;
}

.universal_button__text {
  font-size: 16px;
  font-weight: 400;
}

.universal_button_popover {
  border-radius: 6px;
  margin-top: 8px;
}

.universal_button_popover__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px 16px;
  width: 384px;
}

.universal_button_popover__textarea {
  border-radius: 6px;
  border: solid #e2e8f0 1px;
  color: #467ee5;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-bottom: 6px;
  min-height: 66px;
  outline: none;
  padding: 8px;
  resize: none;
  transition: color 200ms, background-color 200ms;
}

.universal_button_popover__textarea:focus {
  border-color: #cbd5e1;
}

.universal_button_popover__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.universal_button_popover__content_left {
  align-items: center;
  display: flex;
  gap: 8px;
}

.universal_button_popover__user_text {
  color: #b58fd9;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.universal_button_popover__send {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  border: none;
  color: #b58fd9;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 6px;
  transition: color 200ms, background-color 200ms;
  width: 32px;
}

.universal_button_popover__send:hover {
  background-color: #f9fafb;
}

.universal_button_popover__send_icon {
  height: 100%;
  width: 100%;
}

/* Wallet popover */
.wallet_popover {
  /* border: red dashed 1px; */
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.wallet_popover__modal {
  align-items: center;
  background-color: #252527;
  border-radius: 14px;
  border: 1px solid #2f2f36;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%), 0px 4px 6px rgb(0 0 0 / 10%);
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 24px;
  max-width: 360px;
  overflow: hidden;
  padding: 24px;
  pointer-events: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.wallet_popover__button {
  align-items: center;
  background-color: #298574;
  border-radius: 9999px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  transition: background-color 150ms;
  user-select: none;
  width: 164px;
}

.wallet_popover__button:enabled:hover {
  background-color: hsl(169, 53%, 40%);
}

.wallet_popover__button:enabled:active {
  background-color: hsl(169, 53%, 45%);
}

.wallet_popover__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
