* {
  --message-height:44px
}
.universal_button,
.universal_button *,
.universal_button_popover__container,
.universal_button_popover__container *,
.wallet_popover__modal,
.wallet_popover__modal * {
  --gray1: hsl(0 0% 99%);
  --gray2: hsl(0 0% 97.3%);
  --gray3: hsl(0 0% 95.1%);
  --gray4: hsl(0 0% 93%);
  --gray5: hsl(0 0% 90.9%);
  --gray6: hsl(0 0% 88.7%);
  --gray7: hsl(0 0% 85.8%);
  --gray8: hsl(0 0% 78%);
  --gray9: hsl(0 0% 56.1%);
  --gray10: hsl(0 0% 52.3%);
  --gray11: hsl(0 0% 43.5%);
  --gray12: hsl(0 0% 9%);

  --button-text: #19191A;

  font-family: "Inter", sans-serif;
}

.universal_button___dark,
.universal_button___dark *,
.universal_button_popover__container___dark,
.universal_button_popover__container___dark *,
.wallet_popover__modal___dark,
.wallet_popover__modal___dark * {
  --gray1: hsl(0 0% 8.5%);
  --gray2: hsl(0 0% 11%);
  --gray3: hsl(0 0% 13.6%);
  --gray4: hsl(0 0% 15.8%);
  --gray5: hsl(0 0% 17.9%);
  --gray6: hsl(0 0% 20.5%);
  --gray7: hsl(0 0% 24.3%);
  --gray8: hsl(0 0% 31.2%);
  --gray9: hsl(0 0% 43.9%);
  --gray10: hsl(0 0% 49.4%);
  --gray11: hsl(0 0% 62.8%);
  --gray12: hsl(0 0% 93%);

  --button-text: #FFFFFF;
}

.universal_button {
  position: relative;
}

.universal_button__button {
  align-items: center;
  background-color: var(--gray1);
  border-radius: 9999px;
  border: 1px solid var(--gray2);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  transition: color 200ms, background-color 200ms;
}

.universal_button__button:hover {
  background-color: #F3F3F3;
}

.universal_button__icon_container {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  position: relative;
  width: 24px;
}

.universal_button__badge {
  align-items: center;
  background-color: #fa2449;
  border-radius: 9999px;
  color: white;
  display: flex;
  font-size: 10px;
  height: 14px;
  justify-content: center;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
}

.universal_button__icon {
  height: 100%;
  width: 100%;
}

.universal_button__text {
  font-size: 16px;
  font-weight: 400;
}

.universal_button_popover {
  border-radius: 6px;
}


.universal_button_popover__container {
  background-color: var(--gray1);
  display: flex;
  flex-direction: column;
  width: 384px;
}

.universal_dm__textarea {
  background-color: var(--gray1);
  border-radius: 6px;
  border: 1px solid var(--gray6);
  color: var(--gray12);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-bottom: 8px;
  min-height: 66px;
  outline: none;
  padding: 8px;
  resize: none;
  transition: border-color 200ms;
  flex: auto;
}

.universal_dm__textarea:focus {
  border-color: var(--gray8);
}


/* recent messages */
.universal_dm__messages {
  display: flex;
  justify-content: space-between;
  margin: 16px; 
  flex-direction: column;
}

.message__container{
  margin-bottom: 8px; 
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: var(--message-height);
}

.message_title{
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray12)
}
.message_text{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray10);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.message_separator {
  width: 100%;
  border: 1px solid var(--gray6);
  height: 0px;
  margin-bottom: 12px;
} 

.message_text__container{
  display: flex;
  flex-direction: column;
  max-width: 96%;  
}

.message__badge {
  align-items: center;
  background-color: #fa2449;
  border-radius: 9999px;
  color: white;
  display: flex;
  font-size: 10px;
  height: 14px;
  justify-content: center;
  width: 14px;
}
.hover_text {
  color: var(--button-text);
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  width: 98%;
  height: var(--message-height);
}
.message__container:hover .message_text__container,
.message__container:hover .message__badge{
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
.message__container:hover .hover_text {
  -webkit-opacity: 1;
  opacity: 1;
}

.universal_dm__content {
  padding: 0px 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.universal_dm__top {
  margin-bottom: 6px;
  margin-top: 8px;
}

.universal_dm__bottom {
  margin-bottom: 20px;
}


.universal_button_popover__content {
  margin: 12px;
}

.universal_button_popover__content_top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 12px 12px 8px 12px;
}

.universal_button_popover__content_bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 12px 12px 12px;
}

.universal_dm__content_left {
  align-items: center;
  display: flex;
  gap: 8px;
}

.universal_button_popover__subtitle{
  align-items: center;
  display: flex;
  gap: 8px;
}

.universal_dm__user_text {
  text-decoration: none;
  color: var(--gray11);
  font-family: Inter, sans-serif;
  font-size: 13px;
}


.universal_button_popover__link_text{
  color: var(--button-text);
}

.universal_button_popover__content a:hover, 
.universal_button_popover__content a:visited, 
.universal_button_popover__content a:link, 
.universal_button_popover__content a:active
{
  text-decoration: none;
}

/* inbox button */
.universal_dm__inbox {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  border: none;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: color 200ms, background-color 200ms;
  width: 32px;
}
.universal_dm__inbox:hover {
  background-color: #cccccc;
}

.universal_dm__inbox_icon {
  height: 100%;
  width: 100%;
}

/* Send button */
.universal_dm__send {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  border: none;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 6px 4px 6px 6px;
  transition: color 200ms, background-color 200ms;
  width: 32px;
  background-color: #DEDEDE;
}

.universal_dm__send:hover {
  background-color: #cccccc;
}

.universal_dm__send_icon {
  height: 100%;
  width: 100%;
}
.universal_dm__bottom_border {
  background-color: #f3f3f3;
  padding:8px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
}

/* Wallet popover */
.wallet_popover {
  /* border: red dashed 1px; */
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.wallet_popover__modal {
  align-items: center;
  background-color: var(--gray1);
  border-radius: 14px;
  border: 1px solid var(--gray6);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%), 0px 4px 6px rgb(0 0 0 / 10%);
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 24px;
  max-width: 360px;
  overflow: hidden;
  padding: 24px;
  pointer-events: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.wallet_popover__button {
  align-items: center;
  background-color: #298574;
  border-radius: 9999px;
  border: none;
  color: white;
  cursor: pointer;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  transition: background-color 150ms;
  user-select: none;
  width: 164px;
}

.wallet_popover__button:enabled:hover {
  background-color: hsl(169, 53%, 40%);
}

.wallet_popover__button:enabled:active {
  background-color: hsl(169, 53%, 45%);
}

.wallet_popover__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
