// ====================================================== /
// Natt Nguyen's CSS Reset
// Last updated: 2022.06.27
//
// Modified verison of Josh Comeau's CSS Reset. The goal of
// a reset stylesheet is to reduce browser inconsistencies,
// improve the user experience, and improve the CSS
// authoring experience.
// ====================================================== /

// 1. Use a more-intuitive box-sizing model
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 2. Remove default margin
* {
  margin: 0;
}

// 3. Allow percentage-based heights in the application
#__next,
#root,
body,
html {
  height: 100%;
}

// Typographic tweaks
// 4. Improve text rendering
// 5. Add accessible line-height
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

// 6. Improve media defaults
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

// 7. Remove built-in form typography styles
button,
input,
select,
textarea {
  font: inherit;
}

// 8. Avoid text overflows
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

// 9. Create a root stacking context
#__next,
#portal,
#root,
#toast {
  isolation: isolate;
}

// Custom
// 10. (Mobile) Disables additional non-standard gestures such as double-tap to zoom
html {
  touch-action: manipulation;
}

// 12. (Safari mobile) Disable tap highlight and automatic text size increase
body {
  -webkit-tap-highlight-color: transparent; // Disables tap highlight
  -webkit-text-size-adjust: 100%; // Disables text size adjust
}

// 13. (Safari mobile) Remove top inner shadow in
input,
textarea {
  -webkit-appearance: none;
}
