// ====================================================== /
// Global
// ====================================================== /

// Tailwind --------------------------------------------- /
// Remove linting error: /.vscode/settings.json -> add "scss.lint.unknownAtRules": "ignore"
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .debug {
    border: 1px dashed red;
  }
}

// Imports ---------------------------------------------- /
@import "reset";
@import "theme";

.popover .MuiPaper-root {
  border-radius: 6px;
  margin-top: 8px;
}
